.sidebar_container {
    grid-template-rows: 35px minmax(auto, 210px) auto 1fr;
}

.loginSection_logo_wrapper, .loginSection_logo_wrapper *{
    position: relative;
    height: auto;
    width: 100%;
    padding: 30px 0 20px 0;
}

.loginSection_logo {
    height: 50px;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    color: orange;
    border: 3px solid orange;
    text-align: center;
    font-size: 35px;
    white-space : nowrap;
    padding: unset;
    font-family: Arial;
    letter-spacing: 5px;
}

.loginSection_settings {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    grid-template-areas:
        "s1 s2"
        "s3 s4";
    justify-items: center;
    align-items: center;
}

.loginSection_setting_btn {
    height: 40px;
    width: 100px;
    padding: 1px 8px;
    color: #222;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.loginSection_setting_btn:hover {
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.1);
}

.s1 {
    grid-area: s1;
}

.s2 {
    grid-area: s2;
}

.s3 {
    grid-area: s3;
}

.s4 {
    grid-area: s4;
}
