.btn, .btn * {
    text-align: center;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #9098a9;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
}

.icon-btn:hover {
    background: #2196F3;
    border: unset;
}

.add-btn:hover {
    width: 120px;
}
.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: grey;
}

.add-btn::after {
    right: 8px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.add-btn::before {
    left: 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.icon-btn:focus {
    outline: none;
}
.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 16px;

}
.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
    background: #fff;
}
.add-btn:hover .btn-txt {
    color: #fff;
    opacity: 1;
}
.add-icon::before,
.add-icon::after {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: grey;
    overflow: hidden;
}

.add-btn:hover .add-icon::before,
.add-btn:hover .add-icon::after{
    background-color: #fff;
}

.add-icon::before {
    left: 17px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.add-icon::after {
    right: 17px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 8px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 8px;
    height: 4px;
    top: calc(50% - 2px);
}



.reg_btn {
    margin: 30px 0;
    background: inherit;
    border: 1px solid #2196F3;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    color: dodgerblue
}

.reg_btn:focus {
    outline: none;
}


.reg_btn::-moz-focus-inner{
    border: 0;
}

.reg_btn:hover {
    background-color: #07f;
    color: white;
    border: 0px;
    box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.3);
}

.info_btn {
    border-color: #2196F3;
    color: dodgerblue
}

.info_btn:hover {
    background: #2196F3;
    color: white;
}

.del_btn{
    border-color: #f44336;
    color: red;
}

.del_btn:hover {
    background-color: #f44336;
    color: white;
    border: 0px;
    box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.3);
}

.success_btn {
    border-color: #4CAF50;
    color: green;
}

.success_btn:hover {
    background-color: #4CAF50;
    color: white;
}

.warning_btn {
    border-color: #ff9800;
    color: orange;
}

.warning_btn:hover {
    background: #ff9800;
    color: white;
}


.disabled, .disabled:hover{
    background-color: grey;
    color: white;
    box-shadow: unset;
    border-color: grey;
}

.hide {
    display: none;
}
