.in {
    position: relative;
    margin: 10px 25px;
    width: 100%;
    max-width: 350px;
}

.in .label {
    position: absolute;
    top: 18px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.in input,
.in textarea{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.in textarea {
    width: 100%;
    height: 200px;
    max-height: 400px;
    resize: vertical;
}


.in input:hover,
.in textarea:hover {
    background: rgba(34,50,84,0.05);
}
.in input:not(:placeholder-shown) + span,
.in textarea:not(:placeholder-shown) + span{
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
.in input:focus,
.in textarea:focus {
    background: none;
    outline: none;
    border-bottom: 2px solid #07f;
}
.in input:focus + span,
.in textarea:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.in input:required,
.in textarea:required {
    box-shadow: none;
}

.in input:invalid,
.in textarea:invalid {
    box-shadow: none;
}

.reg_btn {
    margin: 30px 30px;
    background: inherit;
    border: 1px solid #9098a9;
    border-radius: 5px;
    cursor: pointer;
    color: grey;
    height: 35px;
    width: 80px;
    font-size: 16px;
}

.reg_btn:focus {
    outline: none;
}

.reg_btn::-moz-focus-inner{
    border: 0;
}

.reg_btn:hover {
    background-color: #07f;
    color: white;
    border: 0px;
    box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.3);
}

.alert {
    position: relative;
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: auto;
    max-width: 660px;
    left: 50%;
    margin-left: -325px; 
}

.alert.success {
    background-color: #4caf50;
}

.alert.info {
    background-color: #2196F3;
    margin-top: 100px;
}

.alert.warning {
    background-color: #ff9800;
}

.alert.info {
    background-color: #
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.text {
    max-width: 520px;
}
