.sidebar_container {
    background-color: #f9a602;
}

.sidebar_toggle_switch {
  color: #2f586e;
}

.sidebar_toggle_switch:hover {
  color: #173f5f;
}

.sidebar_toggle_switch:hover + .sidebar_toggle_animation {
  opacity: 1;
  color: #173f5f;
}

.loginSection_setting_btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: #2f586e;
}

.loginSection_setting_btn:hover {
    border: 2px solid #173f5f;
    background-color: #fff;
    color: #173f5f;
}

.auth_sidebar {
    border-bottom-style: double;
    border-color: #44444b;
    border-width: 0 0 5px 0;
}

.aline_wrapper {
    background-color: #2f586e;
    border: 1px solid #fff;
    color: #fff;
}

.aline_wrapper:hover {
    background-color: #fff;
    color: #173f5f;
    border: 3px solid #173f5f;
}

aline > a:after {
    border: 1px solid #fff;
    background: #fff;
}

aline > a:before {
    background: #173f5f;
    box-shadow: 0 0 3px 2px #173f5f;
}
