.new_notice {
    margin: 40px 0;
}

.notice_form {
    position: relative;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    grid-template-areas:
        "dbegin debgin_input"
        "dexpire dexpire_input"
        "title title_input"
        "notice notice_input"
        "btn_div error_div";
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.notice_form p {
    justify-self: end;
}

.dbegin {
    grid-area: dbegin;
}

.debgin_input {
    grid-area: dbegin_input;
    display: grid;
}

.dexpire {
    grid-area: dexpire;
}

.dexpire_input {
    grid-area: dexpire_input;
    display: grid;
}

.title {
    grid-area: title;
}

.title_input {
    grid-area: title_input;
    display: grid;
}

.notice {
    grid-area: notice;
}

.notice_input {
    grid-area: notice_input;
    display: grid;
}

.btn_div {
    grid-area: btn_div;
    justify-self: end;
}

.error_div {
    grid-area: error_div;
}

.alert {
    max-width: 550px;
    left: 0;
    margin-left: unset;
    border-radius: 25px;
}

.in {
    margin: 10px 0;
}

.reg_btn {
    margin: 10px 0;
    justify-self: end;
}

.reset {
    margin-right: 30px;
    justify-self: unset;
}

.collap {
    background-color: #d3d3d3;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 20% 1fr 20%;
    transition: 0.3s;
}

.active, .collap:hover {
    background-color: #e0e0e0;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.4)
}

.notice_content {
    margin-top: 5px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f3f3f3;
}

.old_notice {
    display: grid;
}

.collap_wrap {
    width: 100%;
    max-width: 900px;
    justify-self: center;
    margin: 20px 0 60px 0;
}

.del {
    display: grid;
    grid-template-columns: 1fr 15%;
}

.del button{
    height: 30px;
    width: 80px;
}

.on_status {
    display: grid;
    grid-template-columns: 1fr 40%;
}

.message {
    height: 40px;
    max-width: 300px;
    margin: 20px 30px 0 0;
    padding: 10px 20px;
    border-radius: 10px;
}
