#noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    margin: 0;
}


.sidebar_toggle_container_closed {
    position: fixed;
    top: 5vw;
    left: 0vw;
    background-color: red;
    height: 35px;
    width: 35px;
}


.sidebar_open {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: auto 1fr;
    grid-template-rows: 100vh;
    font-family: Arial, Helvetica;
    margin: 0;
    transition: all 0s;
}


.sidebar_container {
    grid-area: sidebar;
    width: calc(225px + 1vw);
    background-color: #43464D;
    border-radius: 0px 25px 0px 0px;
    box-shadow: -5px -3px 10px 5px #000;

    display: grid;
    grid-template-areas:
        "animation"
        "login_section"
        "auth_navi"
        "common_navi";
    grid-template-rows: 50px minmax(auto, 255px) auto 1fr;
    overflow-x: hidden;
    z-index: 5;
}

.sidebar_container_transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar_container_closed {
    width: 0vw;
    box-shadow: unset;
}

.sidebar_container * {
}

.sidebar_toggle_container {
    grid-area: animation;
    position: relative;
}

.sidebar_toggle_switch {
    position: absolute;
    text-align: center;
    line-height: 35px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: bolder;
    right: 0px;
    color: #252629;
}

.sidebar_toggle_switch:hover{
    color: white;
    border-radius: 100px;
    transform: rotate(-180deg);
}

.sidebar_toggle_switch:hover + .sidebar_toggle_animation {
    visibility: visible;
    opacity: 0.8;
    color: white;
    right: 194px;
}

.sidebar_toggle_animation {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    line-height: 32px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    right: 40px;
}


.login_section {
    grid-area: login_section;
}

.common_sidebar .navigation_section{
    position: static;
}

.common_sidebar a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 25px;
    color: #efefef;
    display: block;
}

.common_sidebar a:hover {
    color: #ffffff;
    background-color: #173f5f;
}

.content_container {
    grid-area: content;
    top: 0px;
    padding: 30px;
}
