.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

* {
    font-family: "Roboto", "san-serif";
    box-sizing: border-box;
}

*:before, *:after {
  font-family: "Roboto", "san-serif";
    box-sizing: border-box;
}

body {
    margin: 0;
}

.window {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: auto 1fr;
    grid-template-rows: 100vh;
    margin: 0;
    transition: all 0s;
}

.sidebar_container {
    grid-area: sidebar;
    width: calc(225px + 1vw);
    display: grid;
    border-right: 1px solid #D3D3D3;
    grid-template-areas:
        "login_section"
        "auth_navi"
        "common_navi";
    grid-template-rows: minmax(auto, 230px) auto 1fr;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: grey;
    scrollbar-width: thin;
    z-index: 5;
}

.sidebar_container * {
    font-size: 23px;
}

.sc_closed {
    width: 0vw;
}

.sc_transition {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.login_section {
    position: relative;
    grid-area: login_section;
}

.auth_sidebar, .common_sidebar {
    position: relative;
    grid-area: auth_navi;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    grid-row-gap: 5px;
    align-items: center;
    padding: 5px 0; 
}

.common_sidebar {
    grid-area: common_navi;
}

.auth_sidebar *, .common_sidebar * {
    position: relative;
}

.navitag {
    height: 100%;
    width: 100%;
    padding: 14px 24px;
    color: #222;
    transition: all 0.3s ease-out;
}

.navitag:hover{
    border-right: 1px solid #fff;
    padding: 12px 28px;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.2);
}

.navitag a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.content_container {
    grid-area: content;
    padding: 0 70px;
    overflow-y: auto;
    scrollbar-color: grey;
    scrollbar-width: thin;
}


.sidebar_toggler_container {
    position: absolute;
    width: 36px;
    height: 36px;
    display: inline-block;
    cursor: pointer;
    left: calc(225px + 1vw - 1px);
    top: 3vh;
    border-radius: 0 10px 10px 0;
    border: 1px solid #d3d3d3;
    border-left: 1px solid #fff;
    
    opacity: 0.7;
    z-index: 10;
}

.sidebar_toggler_container:hover{
    opacity: 1;
}

.stc_closed {
    left: 1px;
    padding-left: 1px;
    border-radius: 5px;
}


.bar1, .bar2, .bar3 {
    width: 32px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 2px;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}


