#noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

body {
  font-family: Arial, Helvetica;
}

.sidebar_container, .sidebar {
    height: 100%;
    width: 265px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidebar {
    width: 225px;
    background-color: #1a527f;
    padding-top: 60px;
}

.sidebar a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 25px;
    color: #efefef;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ffffff;
    background-color: #173f5f;
}

.sidebar_toggle_container, .sidebar_toggle_switch {
    position: absolute;
    text-align: center;
    line-height: 30px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    font-weight: bolder;
    top: 5px;
    right: 45px;
    z-index: 2;
}

.sidebar_toggle_switch, .sidebar_toggle_switch_closed {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s linear;
}

.sidebar_toggle_switch_closed {
    left: 5px;
}

.sidebar_toggle_animation {
    position: absolute;
    visibility: hidden;
    opacity: 0;

    line-height: 30px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    right: 35px;
    transition: all 0.5s cubic-bezier(.35,.73,.79,.88);
}



.sidebar_toggle_switch:hover, .sidebar_toggle_switch_closed:hover{
    color: white;
    border-radius: 100px;
    transform: rotate(-180deg);
}

.sidebar_toggle_switch_closed:hover {
    color: #173f5f;
    border-radius: 0px;
    transform: rotate(180deg);
}

.sidebar_toggle_switch:hover + .sidebar_toggle_animation {
    visibility: visible;
    opacity: 0.8;
    color: white;
    right: 194px;
}

