.tab {
    position: relative;
    display: grid;
}

.in {
    margin: 0;
    background-color: white;
    border-radius: 15px;
}

.in .label {
    color: black;
}

.in input:not(:placeholder-shown) + span {
    color: white;
}
