productlist {
    display: grid;
    grid-template-columns: calc(200px + 2vw) auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "search message"
        "p_list p_info";
    border: 1px solid #d3d3d3;
}

.product_search {
    grid-area: search;
}

.product_message {
    grid-area: message;
}


.product_tab {
    grid-area: p_list;
    width: 100%;
    height: 700px;
    background-color: #f3f3f3;

    display: grid;
    grid-template-rows: auto 40px;
}

.product_tab:hover {
    border-right: unset;
}

.product_tab a {
    display: block;
    background-color: inherit;
    border-right: 1px solid #d3d3d3;
    color: #222;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.product_tab .active{
    border: none;
    background-color: #fff;
}

.product_tab a:hover {
    background-color: #fbfbfb;
}

.product_tab .active:hover{
    background-color: #fff;
}

/* Style the tab content */
.product_info {
    grid-area: p_info;
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    height: 300px;
    margin: 30px 50px
}

.in {
    margin: 0;
    margin-bottom: 1px;
}

.product_info form {
    display: grid;
    width: 90%;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "pn pnc"
        "pd pdc"
        "pkg pkgc"
        "pbox pboxc"
        "upd upd"
        "del del";
    grid-row-gap: 20px;
}

.label_changed {
    color: #ff9800 !important;
}
.border_changed {
    background: #ff9800 !important;
}

.disabled, .disabled:hover{
    background-color: grey;
    color: white;
    box-shadow: unset;
}

.hide {
    display: none;
}

.del_btn:hover, .del_confirm {
    background-color: #f44336;
    color: white;
    border: 0px;
    box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.3);
}

.alert {
    height: 100%;
    width: 100%;
    left: 0;
    margin-left: 0;
    max-width: 990px;
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 30px;
    opacity: 0.9;
    transition: all 0.2s ease;
}

.alert:hover {
    opacity: 1;
}


.alert strong {
    line-height: 35px;
}

.closebtn {
    font-size: 35px;
    line-height: 35px;
}


.reg_btn {
    margin: 10px 20px;
}

.pn{
    grid-area: pn;
}

.pnc {
    grid-area: pnc;
}

.pd {
    grid-area: pd;
}

.pdc {
    grid-area: pdc;
}

.pkg {
    grid-area: pkg;
}

.pkgc {
    grid-area: pkgc
}

.pbox {
    grid-area: pbox;
}

.pboxc {
    grid-area: pboxc;
}

.upd {
    grid-area: upd;
}

.del {
    grid-area: del;
}
