.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    
    overflow-y: auto;
    height: auto;
    max-height: 420px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

formTop {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.formTop_btn {
    margin: 0;
    justify-self: center;
    align-self: center;
}

orderDate {
    display: grid;
    grid-template-columns: 30% 1fr;
}

orderDate p {
    justify-self: end;
    padding-right: 40px;
}

orderSection {
    display: grid;
    grid-auto-rows: 60px;
}

product {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr 1fr;
}

.in {
    margin: unset;
    width: 95%;
    align-self: center;
    justify-self: center;
}

input {
    padding: 0 10px !important;
}

.invalid_input {
    border-bottom: 2px solid #f44336 !important;
    background-color: #ffdddd !important;
}


.invalid_label {
    font-style: italic !important;
    color: #f44336 !important;
}

.valid_input {
    border-bottom: 2px solid #4CAF50 !important;
}

.valid_label {
    font-style: italic !important;
    color: #4CAF50 !important;
}

addBtn {
    display: grid;
    grid-template-columns: 1fr 9fr;
    text-align: center;
}

addBtn .add-btn {
    justify-self: center;
    align-self: end;
}

.item_remove_btn {
    margin: unset;
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 60px;
    font-size: 14px;
    opacity: 0.6;
    padding: 1px 4px;
}

.item_remove_btn:hover {
    opacity: 1;
}

orderNumber {
    padding-bottom: 10px;
    align-self: end;
    justify-self: center;
    font-size: 20px;
    color: #a3a3a3;
    text-decoration: underline;
}


form {
    margin-top: 60px;
}

.additional:required:invalid{
    color: #9098a9;
}

.additional option{
    color: #223254;
}
