{% extends "admin_base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_newshop.css') }}">
{% endblock %}

{% block content_block %}
<div class="content">
    <h1> Create new account for customer </h1>
    
    <form class="register_section"
          method="post"
          action="{{ url_for('admin.createNewCustomerAccount') }}">
        {{ form.csrf_token }}
        <div class="in_must">
            <label class="in">
                {{ form.shopname(placeholder="") }}
                <span class="label">Shop Name</span>
                <span class="border"></span>
                {% for error in form.shopname.errors %}
                {{ error }}
                {% endfor %}
            </label>

            <label class="in">
                {{ form.shop_address(placeholder="") }}
                <span class="label">Shop Address</span>
                <span class="border"></span>
            </label>

            <label class="in">
                {{ form.shop_email(placeholder="") }}
                <span class="label">Shop Email</span>
                <span class="border"></span>
            </label>
        </div>

        <div class="in_optional">
            <label class="in">
                {{ form.shop_phone(placeholder="") }}
                <span class="label">
                    Shop Phone Number (Optional)
                </span>
                <span class="border"></span>
            </label>
        </div>

        <div class="form_pw">
            <label class="in">
                {{ form.password(placeholder="") }}
                <span class="label">
                    Password
                </span>
                <span class="border"></span>
            </label>
            
            <label class="in">
                {{ form.confirm(placeholder="") }}
                <span class="label">
                    Confirm Password
                </span>
                <span class="border"></span>
            </label>
            {{ form.register(placeholder="Register", class_="reg_btn") }}
        </div>

        <div class="form_pws">
            <button class="reg_btn" type="button" onclick="reset_inputs()">
                Reset Inputs
            </button>
        </div>
    </form>
    
    <div class="notice">
        <div class="individual_notice">
            Notice for admin
        </div>
    </div>
    
</div>

{% endblock %}


{% block js_block %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin_newshop.js') }}"></script>
{% endblock %}
