{% extends "top_base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/inputs.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/button.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/productmanagement.css') }}">
{% endblock %}

{% block content_block %}
<h1> Product management </h1>

<productlist>
    <input type="text"
           id="product_filter"
           onkeyup="product_filter()"
           placeholder="Search for product..">
    
    <div class="product_message alert hide" id="message">
        <span class="closebtn" onclick="this.parentElement.classList.add('hide');">
            &times;
        </span>
        <strong></strong>
    </div>
    
    <div class="product_tab">
        <div class="product_tab_list">
            {% for p in plist %}
            <a class="product_link"
               id='{{ p.id }}'
               onclick="open_product('{{ p.id }}')">
                {{ p.name }}
            </a>
            {% endfor %}
        </div>
        <div class="btn">
            <button class="icon-btn add-btn" onclick="createProduct()">
                <div class="add-icon"></div>
                <div class="btn-txt">Add</div>
            </button>
        </div>
    </div>

    <div class="product_info">
        <form id="product_form">
            <input type="hidden" id="pinfo_id" name="pid">
            
            <p class="pn">Product Name:</p>
            <label class="in pnc">
                <input type="text"
                       id="pinfo_name"
                       placeholder="&nbsp;"
                       name="pname"
                       required>
                <span id="pname_label" class="label">Current Product Name: </span>
            </label>
            
            <p class="pd">Product Description: </p>
            <label class="in text pdc">
                <textarea id="pinfo_des" placeholder="&nbsp;" name="pdes"></textarea>
                <span id="pdes_label" class="label">Current Product Description: </span>
            </label>

            <p class="pkg">Price (per KG)</p>
            <label class="in pkgc">
                <input type="currency"
                       id="pinfo_pkg"
                       name="ppkg"
                       placeholder="&nbsp;">
                <span id="ppkg_label" class="label">Current Product Price (per KG): </span>
            </label>

            <p class="pbox">Price (per BOX)</p>
            <label class="in pboxc">
                <input type="currency"
                       id="pinfo_box"
                       name="ppbox"
                       placeholder="&nbsp;">
                <span id="ppbox_label" class="label">Current Product Price (per BOX): </span>
            </label>
            
            <button class="reg_btn disabled upd" type="button" name="update">
                Update
            </button>

            <div class="del">
                <button id="beforedelete" class="reg_btn del_btn" type="button" onclick="confirmDelete(event)">Delete</button>
                <button id="canceldelete" class="reg_btn hide" type="button" onclick="cancelDelete()">Cancel</button>           
                <button id="delete" class="reg_btn del_btn hide" type="button" onclick="deleteProduct()">DELETE</button>
            </div>

        </form>

    </div>
    
</productlist>
{% endblock %}

{% block js_block %}
{{ super() }}
<script>
 var url_gpmf = "{{ url_for('admin.gpmf') }}";
 var url_productupdate = "{{ url_for('admin.productUpdate') }}";
 var url_productdelete = "{{ url_for('admin.productDelete') }}";
 var url_productnew = "{{ url_for('admin.productNew') }}";
</script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/shared/product_search.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/productmanagement.js') }}"></script>
{% endblock %}
