{% extends "admin_base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_newshop.css') }}">
{% endblock %}

{% block content_block %}
<div class="content">
    <h1> Create new account for customer </h1>
    
    <form class="register_section"
          method="post"
          action="{{ url_for('admin.createNewCustomerAccount') }}">
        {{ form.csrf_token }}
        <div class="in_must">
            <label class="in">
                {{ form.shopname(placeholder="") }}
                <span class="label">Shop Name</span>
                <span class="border"></span>
            </label>

            <label class="in">
                <input type="text" placeholder="">
                <span class="label">Shop Address</span>
                <span class="border"></span>
            </label>

            <label class="in">
                <input type="text" placeholder="&nbsp;">
                <span class="label">Shop Email</span>
                <span class="border"></span>
            </label>
        </div>

        <div class="in_optional">
            <label class="in">
                <input type="text" placeholder="&nbsp;">
                <span class="label">
                    Shop Phone Number (Optional)
                </span>
                <span class="border"></span>
            </label>
        </div>

        <div class="form_pw">
            <label class="in">
                <input type="text" placeholder="&nbsp;">
                <span class="label">
                    Password
                </span>
                <span class="border"></span>
            </label>
            <label class="in">
                <input type="text" placeholder="&nbsp;">
                <span class="label">
                    Confirm Password
                </span>
                <span class="border"></span>
            </label>
        </div>
    </form>
</div>
{% endblock %}
