{% from "microplate/render_input.html" import render_input %}
{% extends "admin_base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/inputs.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_newshop.css') }}">
{% endblock %}

{% block content_block %}
<h1> Create new account for customer </h1>

<form class="register_section"
      method="post"
      action="{{ url_for('admin.createNewCustomerAccount') }}">
    {{ form.csrf_token }}
    <div class="in_must">
        {{ render_input(form.shopname, placeholder=" ") }}
        {{ render_input(form.shop_address, placeholder=" ") }}
        {{ render_input(form.shop_email, placeholder=" ") }}
    </div>

    <div class="in_optional">
        {{ render_input(form.shop_phone, placeholder=" ") }}
    </div>

    <div class="form_pw">
        {{ render_input(form.confirm, placeholder=" ") }}
        {{ render_input(form.password, placeholder=" ") }}

        {{ form.register(placeholder="Register", class_="reg_btn") }}
    </div>

    <div class="form_pws">
        <button class="reg_btn" type="reset">
            Reset
        </button>
    </div>
</form>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">
        &times;
    </span>
    <strong>New account creation failed!</strong>
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

{% with msgs = get_flashed_messages(category_filter=["success"]) %}
{% if msgs %}
<div class="alert success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">
        &times;
    </span>
    <strong>New account created successfully!</strong>
    <ul>
        {% for msg in msgs %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="alert info">
    <strong>Information for Saien members</strong>
    <br />
    After Register a new account, an automated Email will be sent to
    the Email address entered for the customer. The Email will contain
    a link which direct the customer to reset their password.    
</div>
{% endblock %}
