<!doctype html>

<html lang="en">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="utf-8">
        <title>Saien</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>

    <body>
        <span class="sidebar_toggle" onclick="toggling()">☰</span>
        <div id="sidebar" class="sidenav">
            <a href="#">
                Home
            </a>
            <a href="#">
                News
            </a>
            <a href="#">
                Search Item
            </a>
            <a href="#">
                Contact
            </a>
        </div>
    </body>
</html>
