<!doctype html>

<html lang="en">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="utf-8">
        <title>Saien</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/base.css') }}">
        {% block css_block %}
        {% endblock %}
    </head>

    <body class="sidebar_open">
        <div class="sidebar_container" id="noselect">
            <!--
                 Sidebar toggler container
                 # including animation
            -->
            <div class="sidebar_toggle_container">
                <span class="sidebar_toggle_switch"
                      onclick="close_sidebar()">&#10539;</span>
                <span class="sidebar_toggle_animation">&#171</span>
            </div>
            
            <div class="login_section">
                <form action="{{ url_for('user.verify') }}" method="POST"> <!-- Action to be set -->
                    <div class="tab">
                        <div class="tab_usericon">
                            <img src="/static/icon/unknown_customer.png">
                            <span>Login</span>
                        </div>
                    </div>
                    
                    <div class="tab">
                        <div class="tab_input">
                            <span class="input_label">Email</span>
                            <input type="email"
                                   placeholder="&nbsp;"
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                   required>
                        </div>
                        <div class="tab_input">
                            <span class="input_label">Password</span>
                            <input type="password"
                                   placeholder="&nbsp;"
                                   required>
                        </div>
                    </div>

                    <div>
                        <button 
                            class="login_section_back"
                            onclick="nextPrev(-1)">
                            Back
                        </button>
                        <button 
                            class="login_section_next"
                            onclick="nextPrev(1)">
                            Login
                        </button>
                    </div>
                    
                    <div class="login_section_indicator">
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </form>
            </div>
            
            {% block auth_sidebar %}
            {% endblock %}
            
            <!--
                 The rest of sidebar elements container
            -->
            <div class="common_sidebar">
                <div class="navigation_section">
                    <a href="#">
                        Home
                    </a>
                    <a href="#">
                        News
                    </a>
                    <a href="#">
                        Search Item
                    </a>
                    <a href="#">
                        Contact
                    </a>
                </div>
            </div>
        </div>

        <div class="content_container">
            hello world
            {% block content_block %}
            {% endblock %}
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
        {% block js_block %}
        {% endblock %}
    </body>
</html>


