<!doctype html>

<html lang="en">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="utf-8">
        <title>Saien</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/base.css') }}">
        {% block css_block %}
        {% endblock %}
    </head>

    <body>
        <div class="sidebar_toggle_container_closed"
             onclick="sidebar_opening()">
            <bar></bar>
            <bar></bar>
            <bar></bar>
        </div>
        <div class="window">
            <div class="sidebar_container sc_transition" id="noselect">
                <!--
                     Sidebar toggler container
                     # including animation
                -->
                <div class="sidebar_toggle_container">
                    <span class="sidebar_toggle_switch"
                          onclick="sidebar_closing()">&#10539;</span>
                </div>
                
                <!--
                     The content of this section will change dynamically
                     based on which user or admin signed in
                -->
                <div class="login_section">
                    {% block login_section %}
                    {% endblock %}
                </div>

                <!--
                     This section will contain navigation / information
                     only after admin or user logged in
                -->
                <div class="auth_sidebar">
                    {% block auth_sidebar %}
                    {% endblock %}
                </div>
                
                <!--
                     The rest of sidebar elements container
                -->
                <div class="common_sidebar">
                    <div class="navitag">
                        <a>Home</a>
                    </div>
                    
                    <div class="navitag">
                        <a>News</a>
                    </div>

                    <div class="navitag"
                         onclick="window.location.href='{{ url_for('level0.search') }}'">
                        <a>Search Item</a>
                    </div>

                    <div class="navitag">
                        <a>Contact</a>
                    </div>
                </div>
            </div>

            <div class="content_container" ss-container>
                {% block content_block %}
                {% endblock %}
            </div>
        </div>

        <script type="text/javascript"
                src="{{ url_for('static', filename='js/base.js') }}"></script>
        {% block js_block %}
        {% endblock %}
    </body>
</html>


