<!doctype html>

<html lang="en">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="utf-8">
        <title>Saien</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    </head>

    <body>
        <div class="sidebar_container" id="noselect">
            <div class="sidebar_toggle_container">
                <span class="sidebar_toggle_switch"
                      onmouseover="toggle_animation()"
                      onclick="toggling()">&#10539;</span>
                <span class="sidebar_toggle_animation"></span>
            </div>
            <div class="sidebar">
                <div class="login_section">
                    
                    <form action="">
                        
                        <div class="tab">
                            <img src="/static/icon/unknown_customer.png">
                        </div>
                        
                        <div class="tab">
                            <input type="text" placeholder="Email" oninput="this.className=''">
                        </div>

                        <div style="overflow: auto;">
                            <div style="float: right;">
                                <button type="button"
                                        class="login_section_back"
                                        onclick="nextPrev(-1)">
                                    Back
                                </button>
                                <button type="button"
                                        class="login_section_next"
                                        onclick="nextPrev(1)">
                                    Login
                                </button>
                            </div>
                        </div>

                        <div class="login_section_indicator"
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                        
                    </form>
                    
                </div>
                <a href="#">
                    Home
                </a>
                <a href="#">
                    News
                </a>
                <a href="#">
                    Search Item
                </a>
                <a href="#">
                    Contact
                </a>
            </div>
        </div>

        <div class="content_container">
            hello world
            {% block content_block %}
            {% endblock %}
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    </body>
</html>
