{% extends "base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/inputs.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/level0_base.css') }}">
{% endblock %}


{% block login_section %}
<form action="{{ url_for('user.verify') }}" method="POST"> <!-- Action to be set -->
    <div class="tab">
        <div class="tab_usericon">
            <img src="/static/icon/unknown_customer.png">
            <span>Login</span>
        </div>
    </div>

    <div class="tab">
        <label class="in">
            <input type="email"
                   placeholder="&nbsp;"
                   required>
            <span class="label">Email</span>
            <span class="border"></span>
        </label>

        <label class="in">
            <input type="password"
                   placeholder="&nbsp;"
                   required>
            <span class="label">Password</span>
            <span class="border"></span>
        </label>
    </div>

    <div>
        <button 
            class="login_section_back"
            onclick="nextPrev(-1)">
            Back
        </button>
        <button 
            class="login_section_next"
            onclick="nextPrev(1)">
            Login
        </button>
    </div>
    
    <div class="login_section_indicator">
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>
{% endblock %}
