{% extends "base.html" %}

{% block css_block %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/inputs.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/button.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/level0_base.css') }}">
{% endblock %}


{% block login_section %}
<form action="{{ url_for('user.verify') }}" method="POST">
    <div class="uicon">
        <a href="#" class="login_btn" onclick="showLoginForm()">
            <div class="dots-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <span>
                <img src="{{ url_for('static', filename='icon/unknown_customer.png') }}">
            </span>
        </a>
      {% with errors = get_flashed_messages() %}
      {% if errors %}
      <div class="alert userloginfielderror">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">
              &times;
          </span>
          {% for error in errors %}
          <strong>{{ error }}</strong>
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>

    <div class="tab_input">
        <label class="in">
            <input type="email"
                   placeholder="&nbsp;"
                   name="email"
                   required>
            <span class="label">Email</span>
            <span class="border"></span>
        </label>

        <label class="in">
            <input type="password"
                   placeholder="&nbsp;"
                   name="password"
                   required>
            <span class="label">Password</span>
            <span class="border"></span>
        </label>

        <button class="reg_btn" type="submit">
            Login
        </button>
        
        <button class="reg_btn back_btn warning_btn" type="button" onclick="hideLoginForm()">
            Cancel
        </button>

        <input type="hidden" value="{{ next or '' }}" name="next">
    </div>
</form>
{% endblock %}


{% block js_block %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/level0_base.js') }}"></script>
{% endblock %}
