{% extends "top_base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/newspage.css') }}">
{% endblock %}

{% block content_block %}
<h1> Lastest notice from Saien </h1>

<notice_container>
    {% for n in notices %}
    <notice>
        <noticeTitle>
            <h3>
                {{ n.title }}
            </h3>
        </noticeTitle>
        <noticeDate>
            <h3>
                {{ n.begin }}
            </h3>
        </noticeDate>
        <noticeContent>
            {% autoescape false %}
            <p>{{ n.message }}</p>
            {% endautoescape %}
        </noticeContent>
    </notice>
    {% endfor %}
</notice_container>
{% endblock %}

{% block js_block %}
{{ super() }}
{% endblock %}
