{% extends "top_base.html" %}

{% block css_block %}
{{ super() }}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/button.css') }}">
{% endblock %}

{% block content_block %}
<h1> Lastest notice from Saien </h1>

<div class="notices">
    <div class="collap_wrap">
        {% for n in notices %}
        <button id="{{ n.id }}" class="collap">
            <bn>{{ n.begin }}</bn>
            <bn>{{ n.title }}</bn>
        </button>
        <div class="notice_content">
            {% autoescape false %}
            <p>{{ n.message }}</p>
            {% endautoescape %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js_block %}
{{ super() }}
{% endblock %}
