{% extends "base.html" %}

{% block css_block %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/shared/auth_login_section.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/auth_user_base.css') }}">
{% endblock %}


{% block login_section %}
<div class="loginSection_logo_wrapper">
    <div class="loginSection_logo">
        SHOP
    </div>
</div>

<div class="loginSection_settings">
    <div class="s1">
        <button class="loginSection_setting_btn" >
            Setting
        </button>
    </div>
    <div class="s2">
        <button class="loginSection_setting_btn">
            " "
        </button>
    </div>
    <div class="s3">
        <button class="loginSection_setting_btn">
            " "
        </button>
    </div>
    <div class="s4">
        <button class="loginSection_setting_btn"
                onclick="window.location.href='{{ url_for('user.logout') }}'">
            Logout
        </button>
    </div>
</div>
{% endblock %}


{% block auth_sidebar %}
<div class="navitag">
        <a>Make Order</a>
</div>
<div class="navitag">
        <a>Order History</a>
</div>
{% endblock %}



{% block js_block %}
{% endblock %}
